body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #110F17;
    color: #F0F0F0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
    height: 8px;

}
 
body::-webkit-scrollbar-track {
    background-color: #110F17;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #EFEFEF;
}


/* Typography */


h1 {
    display: block;
    font-size: 40px;
    margin: 0 0 2px 0;
}

h2 {
    display: block;
    font-size: 28px;
    margin: 0 0 2px 0;
}

h3 {
    display: block;
    font-size: 22px;
    margin: 0 0 2px 0;
}

h4 {
    margin: 0 0 8px 0;
}

h5 {
    font-size: 12px;
    margin: 0 0 2px 0;
}

p {
    font-size: 20px;
    line-height: 48px;
}

#role {
    display: block;
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 4px;
}

#xp {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}


#contact-label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#email {
    font-weight: 300;
}

#contact-label>.material-icons {
    margin-right: 8px;
}

.skill-list-item > span {
    font-size: 14px;
    font-weight: 300;
}

.table-left-align {
    text-align: right;
}

.table-right-align {
    text-align: left;
}


.xp-list-item-left > span {
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.xp-list-item-right > span {
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.xp-list-item-left > a {
    font-size: 14px;
    color: #EFEFEF;
}

.xp-list-item-right > a {
    font-size: 14px;
    color: #EFEFEF;
}


.social-media-icons {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 24px;
}


.social-media-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #110F17;
    margin-right: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

.social-media-btn > img {
    width: 16px;
    box-sizing: border-box;
}

.social-media-btn:hover {
    transition: 0.26s;
    background-color: #32294D;
}


#location {
    display: block;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 24px;
}



/* General */

#page-header-arrow {
    margin-top: 80px;
}

.button {
    all: unset;
    cursor: pointer;
    background-color: #EFEFEF;
    color: #110F17;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}

.button>img {
    margin-right: 8px;
    width: 20px;
}

.button:hover {
    transition: 0.26s;
    background-color: #D4C6FC;
}


#profile-picture {
    max-width: 320px;
}

.page-header {
    padding: 120px 32px 40px 32px;
    background-color: #181521;
}

.page-footer {
    padding: 64px 15% 64px 15%;
    background-color: #181521;
}

.page-footer > * {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divider {
    display: block;
    width: fit-content;
    margin: 12px 0;
    box-sizing: border-box;
}

.section-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.section-subtitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.skill-list-item {
    margin-bottom: 56px;
}

.graduation-list-item > span, .graduation-list-item > a  {
    font-size: 14px;
    font-weight: 300;
    color: #EFEFEF;
}

.graduation-list-item {
    margin-bottom: 32px;
}

#about {
    padding: 64px 15%;
    line-height: 2em;
}

#experience-section-web {
    background-color: #181521;
    padding: 64px 15%;
}

td {
    vertical-align: top;
}

.xp-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.xp-steps-dot {
    width: 33px;
    margin: 16px 0;
}

.xp-steps-line {
    height: max-content;
}

#experience-section-mobile {
    display: none;
    background-color: #181521;
    padding: 64px 15%;
}

#graduation-section {
    padding: 64px 15%;
}

/* Responsivity */

@media (max-width: 992px) {

    #profile-picture {
        max-width: 200px;
        
    }
    
}


@media (max-width: 768px) {

    #profile-picture {
        max-width: 120px;
    }

    h1 {
        display: block;
        font-size: 24px;
        margin: 32px 0 2px 0;
    }

    p {
        font-size: 16px;
        line-height: 40px;
    }
    
    #role {
        display: block;
        font-weight: 200;
        font-size: 18px;
        margin-bottom: 4px;
    }
    
    #xp {
        display: block;
        font-size: 14px;
        margin-bottom: 4px;
    }

    .page-header {
        padding: 60px 32px 40px 32px;
        background-color: #181521;
    }
    
    #page-header-arrow {
        margin-top: 56px;
        width: 16px;
    }
    
    #tools-icons {
        width: 200px;
    }

    #experience-section-web {
        display: none;
    }

    #experience-section-mobile {
        display: block;
    }

    .button {
        font-size: 14px;
    }

}


.slide-bottom {
	-webkit-animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s infinite alternate both;
	        animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-4 13:52:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  